header {
  text-align: center;
  margin-bottom: 35px;
}

header img {
  border-radius: 20%;
  
}

header h3 {
  margin-top: -2.5%;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  margin: 10px auto;
  max-width: 800px;
  background: wheat;
  line-height: 1.6;
  color: #333;
}

body h3 {
    font-style: oblique;
    text-decoration: underline;
}

@media (max-width: 760px) 
    {.two-columns {
        display: flex;
        gap: 20px;
    }
}

.two-columns > div {
  flex: 1;
}

.two-columns {
  display: flex;
  gap: 20px;
}

.education {
    text-align: center;
}

.education ul {
    list-style: none;
}

.work-experience h2 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.experience-container {
  display: flex;
  gap: 20px;
}

.experience-container .job {
  flex: 1;
  background: #fff8e7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.experience-container h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #0077cc;
}

.experience-container h3 span {
  font-weight: normal;
  font-size: 0.9rem;
  color: #555;
}

.experience-container ul {
  padding-left: 20px;
}

.experience-container li {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
  }
}

.skills span {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  font-size: 0.9rem;
}

.project h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #0077cc;
  margin-bottom: 15px;
}

.project {
  text-align: center;  
  background:#fff8e7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-top: 20px;
}