header {
  text-align: center;
  margin-bottom: 35px;
}

header img {
  border-radius: 20%;
  
}

header h3 {
  margin-top: -2.5%;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  margin: 10px auto;
  max-width: 800px;
  background: wheat;
  line-height: 1.6;
  color: #333;
}

body h3 {
    font-style: oblique;
    text-decoration: underline;
}

.two-columns {
  display: flex;
  gap: 20px;
}

.two-columns > div {
  flex: 1;
}

.education {
    text-align: center;
}

.education ul {
    list-style: none;
    
}